<div id="plugin_container" class="eqLogic-widget eqLogic allowResize" style="width:#width#;height:#height#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#; #style#" data-category="" data-eqLogic_id="#id#" data-version="#version#" >
	<center class="widget-name"><strong><a href="#eqLink#" style="font-size : 1.1em;#hideEqLogicName#">#name_display#</strong></a>
		<span style="font-size: 0.85em;position: relative;top:-2px;">#object_name#</span>
	</center>

	<div class="tooltips" data-cmd_id="#hddtot_id#" style="margin-left:5px;display: #hddtot_display#;">
			<span title="Espace disque total" class="fa fa-hdd-o" style="min-width:15px"></span>
			<span>Total #hddtot#</span>
	</div>
	<div class="tooltips" data-cmd_id="#hddfree_id#" style="margin-left:5px;display: #hddfree_display#;">
			<span title="Espace disque libre" class="fa fa-hdd-o" style="min-width:15px"></span>
			<span> Libre #hddfree#</span>
	</div>
	
	<div class="tooltips" data-cmd_id="#ramtot_id#" style="margin-left:5px;display: #ramtot_display#;">
			<span title="Mémoire RAM total" class="icon techno-memory" style="min-width:15px"></span>
			<span>Total #ramtot#</span>
	</div>
	<div class="tooltips" data-cmd_id="#ramused_id#" style="margin-left:5px;display: #ramused_display#;">
			<span title="Mémoire RAM utilisée" class="icon techno-memory" style="min-width:15px"></span>
			<span>Utilisée #ramused#</span>
	</div>
	
	<div class="container-fluids tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#cpu_id#" style="margin-left:5px;display: #cpu_display#;">
		<span title="Utilisation CPU" class="fa fa-tachometer" style="min-width:15px"></span>
		<span>#cpu#</span>
	</div>
	
	<div class="tooltips" data-cmd_id="#systemp_id#" style="margin-left:5px;display: #systemp_display#;">
			<span title="Température système" class="icon jeedom-thermometre" style="min-width:15px"></span>
			<span>Système : #systemp#</span>
	</div>
	<div class="tooltips" data-cmd_id="#cputemp_id#" style="margin-left:5px;display: #cputemp_display#;">
			<span title="Température" class="icon jeedom-thermometre" style="min-width:15px"></span>
			<span>CPU : #cputemp#</span>
	</div>
	
	<div class="tooltips" data-cmd_id="#model_id#" style="margin-left:5px;display: #model_display#;">
			<span title="Modèle QNAP" class="icon techno-pc" style="min-width:15px"></span>
			<span>#model#</span>
	</div>
	<div class="tooltips" data-cmd_id="#cpumodel_id#" style="margin-left:5px;display: #cpumodel_display#;">
			<span title="Modèle CPU" class="fa fa-linux" style="min-width:15px"></span>
			<span>#cpumodel#</span>
	</div>
	<div class="tooltips" data-cmd_id="#version_id#" style="margin-left:5px;display: #version_display#;">
			<span title="Version QNAP" class="fa fa-linux" style="min-width:15px"></span>
			<span>#version#</span>
	</div>
	<div class="tooltips" data-cmd_id="#os_id#" style="margin-left:5px;display: #os_display#;">
			<span title="OS" class="fa fa-linux" style="min-width:15px"></span>
			<span>#os#</span>
	</div>
	<div class="tooltips" data-cmd_id="#uptime_id#" style="margin-left:5px;display: #uptime_display#;">
			<span title="Uptime" class="icon divers-calendar2" style="min-width:15px;"></span>
			<span>#uptime#</span>
	</div>
</div>
