<div class="eqLogic-widget eqLogic allowResize ui-draggable ui-draggable-handle allowLayout eqLogic_layout_default allowReorderCmd" style="width: 200px; height: 370px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-translate-category="" data-category="" data-tags="" data-eqtype="qnap">
	<center class="widget-name"><a href="#eqLink#" style="font-size : 1.1em; #hideEqLogicName#">#name_display#</a>
		<span title="Rafaîchir" class="refresh tooltips" data-type="action" data-subtype="other" data-cmd_id="#cmd_refresh_id#" style="float: right">
			<a class="action" style="cursor: pointer;"><i class="fas fa-sync" style="padding-right:10px"></i></a>
		<script>
		$('.poweroff[data-cmd_id=#cmd_refresh_id#] .action').on('click', function() {
			jeedom.cmd.execute({id: '#cmd_refresh_id#'});
		});
		</script>
		</span>
		<span title="Eteindre l'équipement" class="poweroff tooltips" data-type="action" data-subtype="other" data-cmd_id="#cmd_poweroff_id#" style="float: right">
			<a class="action" style="cursor: pointer;"><i class="fa fa-power-off" style="padding-right:10px"></i></a>

		<script>
		$('.poweroff[data-cmd_id=#cmd_poweroff_id#] .action').on('click', function() {
			bootbox.confirm('Etes-vous sûr de vouloir éteindre l\'équipement #name# ?', function (result) {
				if (result) {
					jeedom.cmd.execute({id: '#cmd_poweroff_id#'});
				}
			});
		});
		</script>
		</span>
		<span title="Redémarrer l'équipement" class="reboot tooltips" data-type="action" data-subtype="other" data-cmd_id="#cmd_reboot_id#" style="float: right">
			<a class="action" style="cursor: pointer;"><i class="fas fa-redo" style="padding-right:10px"></i></a>
		<script>
		$('.reboot[data-cmd_id=#cmd_reboot_id#] .action').on('click', function() {
			bootbox.confirm('Etes-vous sûr de vouloir redémarrer l\'équipement #name# ?', function (result) {
				if (result) {
					jeedom.cmd.execute({id: '#cmd_reboot_id#'});
				}
			});
		});
		</script>
		</span>
		<span id="#status_id#" style="float: right; width:25px;"></span>
		<script>
			if ('#status#' == 'Up') {
				$('##status_id#').append('<i title="Connexion Up" class="fa fa-check tooltips" style="color: #00FF00;" ></i>');
			}
			if ('#status#' == 'Down') {
				$('##status_id#').append('<i title="Connexion Down" class="fa fa-times tooltips" style="color: #FF0000;"></i>');
			}
		</script>
	</center>

	<div class="tooltips" data-cmd_id="#hddtot_id#" data-type="info" data-subtype="string" style="margin-left:5px;display: #hddtot_display#;">
			<span title="Espace disque total" class="far fa-hdd" style="min-width:15px"></span>
			<span>Total #hddtot#</span>
	</div>
	<div class="tooltips" data-cmd_id="#hddfree_id#" data-type="info" data-subtype="string" style="margin-left:5px;display: #hddfree_display#;">
			<span title="Espace disque libre" class="far fa-hdd" style="min-width:15px"></span>
			<span> Libre #hddfree#</span>
	</div>
	<div class="tooltips" data-cmd_id="#hdd_id#" data-type="info" data-subtype="numeric" style="margin-left:5px;display: #hdd_display#;">
			<span title="Pourcentage utilisation" class="far fa-hdd" style="min-width:15px"></span>
			<span> Utilisé <span id="span_#hdd_id#">#hdd#%</span></span>
	</div>
	<script>
		if ('#hdd#' != '') {
			if ('#hdd#' < 60) {
				$('#span_#hdd_id#').css('color','green');
			}else if ('#hdd#' >= 60 && '#hdd#' <= 80) {
				$('#span_#hdd_id#').css('color','orange');
			}else if ('#hdd#' > 80) {
				$('#span_#hdd_id#').css('color','red');
			}
		}
	</script>
	<div class="tooltips" data-cmd_id="#hddsmart_id#" data-type="info" data-subtype="numeric" style="margin-left:5px;display: #hddsmart_display#;">
			<span title="Etat SMART" class="far fa-hdd" style="min-width:15px"></span>
			<span id="span_#hddsmart_id#"> SMART </span>
	</div>
	<script>
		var myRegEx = new RegExp("BAD","gm");
		var myString = '#hddsmart#';
		var newString = myString.replace(myRegEx ,'<span style="color: #FF0000;">BAD</span>');
		$('#span_#hddsmart_id#').append(newString);
	</script>
	<div class="tooltips" data-cmd_id="#hddtemp_id#" data-type="info" data-subtype="numeric" style="margin-left:5px;display: #hddtemp_display#;">
			<span title="Température ds disques" class="far fa-hdd" style="min-width:15px"></span>
			<span> Température #hddtemp#</span>
	</div>
	
	<div class="tooltips" data-cmd_id="#ramtot_id#" data-type="info" data-subtype="string" style="margin-left:5px;display: #ramtot_display#;">
			<span title="Mémoire RAM total" class="icon techno-memory" style="min-width:15px"></span>
			<span>Total #ramtot#</span>
	</div>
	<div class="tooltips" data-cmd_id="#ramused_id#" data-type="info" data-subtype="string" style="margin-left:5px;display: #ramused_display#;">
			<span title="Mémoire RAM utilisée" class="icon techno-memory" style="min-width:15px"></span>
			<span>Utilisée #ramused#</span>
	</div>
	<div class="tooltips" data-cmd_id="#ram_id#" data-type="info" data-subtype="numeric" style="margin-left:5px;display: #ram_display#;">
			<span title="Pourcentage utilisation" class="icon techno-memory" style="min-width:15px"></span>
			<span> Utilisée <span id="span_#ram_id#">#ram#%</span></span>
	</div>
	<script>
		if ('#ram#' != '') {
			if ('#ram#' < 60) {
				$('#span_#ram_id#').css('color','green');
			}else if ('#ram#' >= 60 && '#ram#' <= 80) {
				$('#span_#ram_id#').css('color','orange');
			}else if ('#ram#' > 80) {
				$('#span_#ram_id#').css('color','red');
			}
		}
	</script>
	<div class="tooltips" data-cmd_id="#cpu_id#" data-type="info" data-subtype="numeric" style="margin-left:5px;display: #cpu_display#;">
		<span title="Utilisation CPU" class="fas fa-tachometer-alt" style="min-width:15px"></span>
		<span>Processeur <span id="span_#cpu_id#">#cpu#%</span></span>
	</div>
	<script>
		if ('#cpu#' != '') {
			if ('#cpu#' < 60) {
				$('#span_#cpu_id#').css('color','green');
			}else if ('#cpu#' >= 60 && '#cpu#' <= 80) {
				$('#span_#cpu_id#').css('color','orange');
			}else if ('#cpu#' > 80) {
				$('#span_#cpu_id#').css('color','red');
			}
		}
	</script>
	<div class="tooltips" data-cmd_id="#systemp_id#" data-type="info" data-subtype="string" style="margin-left:5px;display: #systemp_display#;">
			<span title="Température système" class="icon jeedom-thermometre" style="min-width:15px"></span>
			<span>Système #systemp#</span>
	</div>
	<div class="tooltips" data-cmd_id="#cputemp_id#" data-type="info" data-subtype="string" style="margin-left:5px;display: #cputemp_display#;">
			<span title="Température" class="icon jeedom-thermometre" style="min-width:15px"></span>
			<span>CPU #cputemp#</span>
	</div>
	
	<div class="tooltips" data-cmd_id="#model_id#" data-type="info" data-subtype="string" style="margin-left:5px;display: #model_display#;">
			<span title="Modèle QNAP" class="icon techno-pc" style="min-width:15px"></span>
			<span>#model#</span>
	</div>
	<div class="tooltips" data-cmd_id="#cpumodel_id#" data-type="info" data-subtype="string" style="margin-left:5px;display: #cpumodel_display#;">
			<span title="Modèle CPU" class="fab fa-linux" style="min-width:15px"></span>
			<span>#cpumodel#</span>
	</div>
	<div class="tooltips" data-cmd_id="#version_id#" data-type="info" data-subtype="string" style="margin-left:5px;display: #version_display#;">
			<span title="Version QNAP" class="fab fa-linux" style="min-width:15px"></span>
			<span>#nasversion#</span>
	</div>
	<div class="tooltips" data-cmd_id="#os_id#" data-type="info" data-subtype="string" style="margin-left:5px;display: #os_display#;">
			<span title="OS" class="fab fa-linux" style="min-width:15px"></span>
			<span>#os#</span>
	</div>
	<div class="tooltips" data-cmd_id="#uptime_id#" data-type="info" data-subtype="string" style="margin-left:5px;display: #uptime_display#;">
			<span title="Uptime" class="icon divers-calendar2" style="min-width:15px;"></span>
			<span>#uptime#</span>
	</div>
</div>