<div class="eqLogic-widget eqLogic" style="width:#width#;height:#height#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#; #style#" data-category="" data-eqLogic_id="#id#" data-version="#version#">
	<center class="widget-name"><strong><a href="#eqLink#" style="font-size : 1.1em;#hideEqLogicName#">#name_display#</strong></a></center>
	<div data-type="info" data-subtype="string" style="margin-left:5px;display: #hddtot_display#;">
			<span title="Espace disque total" class="fa fa-hdd-o" style="min-width:15px"></span>
			<span>Total #hddtot#</span>
	</div>
	<span> Libre #hddfree#</span>
	<span>Utilisé #hdd#%</span>
	<span>SMART #hddsmart#</span>
	<span> Température #hddtemp#</span>
	<span>Total #ramtot#</span>
	<span>Utilisée #ramused#</span>
</div>